:root
{
	--accentColor: #e44;
}

a, a:link, a:visited, a:hover, a:active
{
	text-decoration: none;
}

p
{
    margin: 0;
}

body
{
    background: no-repeat url("../../assets/media/pexels-adrien-olichon-1257089-2387532.jpg");
	background-size: cover;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	font-family: Arial, Helvetica, sans-serif;
	color: #fff;

    padding: 32px;
    padding-left: 128px;
    padding-right: 128px;

    margin: 0;

    font-size: 16px;
}

@media (orientation: portrait)
{
    body
    {
        padding: 32px;
    }
}

header, footer, main
{
    margin: 0;
    padding: 8px;
}

header
{
    display: block;
}

main
{
    display: block;
}

footer
{
    display: block;

    text-align: center;
}

.headerText {
    font-size: 12px;
}

.xxlText
{
    font-size: 86px;
}
.xlText
{
    font-size: 78px;
}
.lText
{
    font-size: 74px;
}
.mainText {
    font-size: 64px;
}
.subText
{
	font-size: 24px;
}
.defText
{
	font-size: 16px;
    text-align: justify;
}

.footerText {
    font-size: 12px;
}

.mainLogoMid
{
    float: right;
    height: 256px;
    padding: 64px;
    border-radius: 16px;
    background: var(--accentColor);
}

@media (orientation: portrait)
{
    .mainLogoMid
    {
        float: none;
        height: 128px;
        padding: 16px;
        margin-bottom: 32px;
    }
}

.defaultCTA
{
    font-size: 16px;

    padding: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 8px;

    font-weight:normal;
}

.accentCTA
{
    background: var(--accentColor);
    color: #EEEEEE;
}

.accentCTA:active, .accentCTA:hover
{
    background: #111;
    color: #eee;
}

.stdCTA
{
    background: #111;
    color: #eee;
}

.stdCTA:active, .stdCTA:hover
{
    background: var(--accentColor);
	background: rgba(25, 25, 25, 0.5);
    color: #ffffff;
}

.logoMinimal {
    height: 40px;
}

.logoFull {
    height: 32px;
    padding: 4px;
}

.iconSocial {
    padding: 8px;
    border-radius: 8px;

    color: #fff;
    font-size: 20px;

    display: inline-block;
    text-align: center;
}

.iconSocial:active,
.iconSocial:hover {
    background: #333;
    color: var(--accentColor);
}

.accentText {
    color: var(--accentColor);
}

.accentBackground {
    background: var(--accentColor);
}